/* Login */

.form-control {
  width: 90%;
}

.input-group {
  margin-left: 1%;
  margin-right: 1%;
}

.login-form {
  position: relative;
  height: auto;
}

.center-button {
  margin:auto;
}

.login-panel {
	max-width: 75%;
	margin-top: 1%;
	background-color: rgba(245, 245, 245, 0.5);
}

.panel-heading {
	background-color: transparent !important;
	color: #000000 !important;
	font-weight: bold;
	font-size: 40px;
}

.login-label, .signup-label {
  color: #000000;
  font-size: 20px;
  margin-top: 1%;
  margin-left: 1%;
  font-weight: normal;
}

.submit-login {
	margin-top: 2%;
	margin-bottom: 2%;
	width: 95%;
}

body {
  background-color: #AEB6BF;
  position: relative;
}

.navbar {
	position: relative;
	background-color: #000000 !important;
	width: 85%;
	margin-left: 15%;
	border-radius: 0 !important;
}

.navbar-brand {
	font-size: 2Vw;
	background-color: #000000 !important;
	border: medium;
	border-color: #FFFFFF;
}

.status-symbol{
	color: #b6ff00;
}

.sidepanel {
	height: 100%;
	width: 15%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #585656;
	position: fixed;
	min-width: 150px;
}

.sidepanel ul {
	list-style: none;
	padding: 0 0 0 0;
}

.sidepanel button {
	margin: 0 0 0 0;
	text-align: left;
	font-size: 15px;
	width: 100%;
	display: block;
	margin-bottom: 5px;
	border-radius: 0 !important;
	border-color: transparent ;
	background-color: #585656;
}

.sidepanel .glyphicon {
	margin-left: 1px;
}

.btn-hover:hover {
	background-color: #FFFFFF !important;
	color: #000000;
}

.username {
	position: relative;
	text-align: center;
	color: #FFFFFF !important;
	font-size: 20px;
}

.userinformation {
	position: relative;
	text-align: center;
	margin-bottom: 10%;
	margin-top: 5%;
	background-color: dimgrey;
	padding: 10px;
}

.userinformation .status-symbol {
	margin-left: 5px;
}

.logout {
	padding-top: 15px;
	position: absolute;
	bottom: 0;
	border-bottom: none;
	border-left: none;
	border-right: none;
	border-color: #FFFFFF !important;
}

.center-block.login-logo{
	margin-top: 1% !important;
}

.btn-register {
	margin: 0 0 0 0;
	font-size: 16px;
	width: 100%;
	display: block;
	border-radius: 0 !important;
	border-color: transparent ;
	background-color: transparent;
	color: #585656;
}

.modal-title {
	position: absolute;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px #efefef inset;
}