@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<meta charset="utf-8">

	<meta name="description" content="Fleqx">
	<script src="~/Scripts/jquery-1.9.1.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>
	<link rel="stylesheet" href="~/Content/bootstrap.min.css">
	<link rel="stylesheet" href="~/Content/main.css">
	<title></title>
</head>
<body>
	<div>
		@RenderBody()
	</div>
</body>
</html>
